/* ------------------------------------------------------------
** BASE ELEMENT STYLING
** ------------------------------------------------------------ */
/*
#22223b - DRK Blue [BG]
#425dd0 - Electric Blue
#c4d0d7 - LT Grey (with a little blue)
#efe1e1 - Lt Creme

#e63d78 - highlight magenta-ish

#50536a - Grey Blue Mid/Drk

#cbdaee - lt/mid grey
*/

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700|Open+Sans+Condensed:700&display=swap');

html,
body,
#root {
    /* #root, represents the application kickoff element */
    height: 100%;
}

body {
    background: #22223b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #c4d0d7;
    box-shadow: inset 0 0 120px -10px rgb(0,0,0, 0.4);
    font-family: 'Nunito', sans-serif;
    font-weight: 500; /* 500 semi-bold, 700 bold*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Open Sans Condensed', 'Helvetica', sans-serif;
}

img {
    max-width: 100%;
    display: inline-block;
}

/* ------------------------------------------------------------
** SITE LAYOUT
** ------------------------------------------------------------ */

.site {
	display: flex;
	height: 100%; /* needed for IE10 */
	min-height: 100%;
	flex-direction: column;
}

.site-hd {
	flex: 0 0 auto;
}

.site-bd {
	flex: 1 0 auto;
}

/* ------------------------------------------------------------
** CONTAINER
** ------------------------------------------------------------ */

.container {
    display: block;
    width: 100%;
    padding: 10px 5%;
    box-sizing: border-box;
}

.container + .container {
    margin: 20px 0 0 0;
}

/* ------------------------------------------------------------
** UTILITIES
** ------------------------------------------------------------ */

.utl_fntLt {
    font-weight: 400;
}

.utl_fntReg {
    font-weight: 500;
}

.utl_fntBld {
    font-weight: 700;
}
