.appBar {
    padding: 20px 6% 25px;
    margin: 0 0 20px;
    position: relative;
    color: #e63d78;
}

.appBar:after {
    content: " ";
    display: block;
    width: 90%;
    height: 2px;
    background-color: #425dd0;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: -2px 2px 2px rgb(0,0,0, 0.4);
}

.appBar_hdg {
    font-size: 1.6rem;
    text-shadow: -2px 2px 2px rgb(0,0,0, 0.4);
}
